---
layout: default
---
<header class="bloghead">
  <h1 class="bloghead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}<span>&#39;s blog</span></a>
  </h1>
  <nav class="bloghead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="post-list">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.description %}
      <p>{{ post.description }}</p>
    {% endif %}
    <div class="post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
