---
--- 

$open-sans: 'Open Sans', sans-serif;
$source-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-family: $source-sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    @media (min-width: 38em) {
        font-size: 20px;
    }
}

body {
    color: #515151;
    background-color: #FAFAFA;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    &:hover,
    &:focus {
        color: #EC407A;
        text-decoration: dotted;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1rem;
}

ul,
ol,
dl {
    margin-left: 1.5rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

ul {
    display: inline;
    list-style: inside circle;
    padding-left: 0;
    li {
        margin-bottom: .25rem;
    }
    ul,
    ol {
        margin-top: .25rem;
        margin-bottom: .5rem;
    }
}

ol {
    list-style: inside decimal;
    padding-left: 0;
    li {
        margin-bottom: .25rem;
    }
    ul,
    ol {
        margin-top: .25rem;
        margin-bottom: .5rem;
    }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
    margin-top: 1.5rem;
}

hr {
    border: 0;
    border-top: .5px solid #eee;
    border-bottom: .5px solid #eee;
    margin: 1.5rem auto;
}

strong {
    color: #333;
    font-weight: 600;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

blockquote {
    padding: 0 0 0 1.5rem;
    margin: 0 2rem 1rem 0;
    color: #999;
    border-left: .5rem solid #e5e5e5;
    p:last-child {
        margin-bottom: 0;
    }
}

code,
pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #f9f9f9;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}

.highlight pre {
    margin-bottom: 0;
}

.gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
    padding: 15px;
}

.gist pre {
    padding: 0;
    background-color: transparent;
}

.gist .gist-file .gist-data {
    font-size: .8rem !important;
    line-height: 1.4;
}

.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

.fa {
    padding-left: 1vw;
    font-size: 1.5em;
    @media (min-width: 38em) {
        font-size: 2vw;
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .25rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #eee;
}

.top {
    position: fixed;
    background: #EC407A;
    height: 3px;
    width: 100%;
    top: 0;
    z-index: 100;
}

.social {
    @media (min-width: 38em) {
        position: absolute;
        bottom: 0;
    }
}

.profile {
    position: absolute;
    height: 40%;
    width: 100%;
    background: #212121;
    border-right: 3px solid #eee;
    display: inline-block;
    img {
        height: 50px;
        width: 50px;
    }
    .img-circle {
        border-radius: 50%;
        margin-top: 3vh;
        margin-left: 3vw;
        display: inline-block;
    }
    h3 {
        height: auto;
        width: auto;
        float: right;
        margin-right: 14vw;
    }
    p {
        height: auto;
        width: auto;
        float: right;
        margin-left: 14vw;
    }
    .social {
        position: absolute;
        bottom: 0;
        margin-left: 0;
        a {
            padding: 5px;
        }
    }
    @media (min-width: 38em) {
        position: fixed;
        width: 20%;
        height: 100%;
        img {
            height: 140px;
            width: 140px;
        }
        h3 {
            text-align: center;
            float: none;
            margin-top: -0.8em;
            margin-right: 0;
        }
        p {
            float: none;
            margin: 1em;
            margin-top: -1.3em;
            margin-left: 1vw;
            font-size: 16px;
            text-align: center;
            letter-spacing: 2px;
        }
        .img-circle {
            margin-top: 25%;
            margin-left: 24%;
        }
        .social {
            position: absolute;
            bottom: 0;
            margin-left: 1.5rem;
            a {
                padding: 0;
                margin-left: 0;
            }
        }
    }
}

.posts {
    max-width: 38rem;
    padding: 1.4rem 0.8rem;
    margin-top: 57%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 38rem) {
        margin-top: 0;
        margin-left: 20%;
        width: 80%;
        padding: 3%;
    }
}

.bloghead {
    .bloghead-title {

    }
    .bloghead-nav {
        span {
            font-weight: 800;
            color: #000;
            &:hover,
            &:focus {
                color: #000;
                text-decoration: dotted;
            }
        }
    }
}
