<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Uta Buechler, Uta Büchler, HCI Heidelberg, Heidelberg Collaboratory for Image Processing,
                                   Deep Learning, Deep Vision, Machine Learning, Computer Vision, Universität Heidelberg,
                                   Uni Heidelberg, Heidelberg">
    <meta name="description" content="Personal homepage of Uta Buechler">
    <meta name="google-site-verification" content="ztA1_sb60uhyN2R-PdR25yhvPPRreYIZSbvOJl46nRo" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
    <!--<link href="https://use.fontawesome.com/f6c3863b5b.js" rel="stylesheet">-->
    <link href="{{ site.baseurl }}/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
</head>
